
/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



/*override default styles added by browsers*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}   

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #325775;
    font-family:'lato', sans-serif;
    
}

/* header styles */
header {
    position:fixed;
    padding: 0;
    width: 100%;
    margin-top: 0;
    display: flex;
    height: 25px;
}
nav {
    width: 100%;
    background-color: #d5dade;  /* #E4E3E3;*/
    display: flex;
}
#links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#links > a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #474747; 
    font-size: 80%;
}

/*Main Styles*/
main {
    /* Make main element push footer down */
    margin-top: 25px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}


#cover-image {
    background: url(../images/statuecrop.jpg) no-repeat center center/cover;
    position:relative;
    height:300px;
    width: 100%; 
}

#title {
    background-color: rgba(213, 218, 222 , .7); /* rgba(230, 229, 227, .7);*/
    position: absolute;
    color: #474747;
    font-family: 'playfair display';
    text-transform: uppercase;
    width: 100%;
    font-size: 100%;
    padding: 3px;
    margin-top: 30%;
    text-align:center;
}


/*Content styles*/
#history {
    width: 100%;
}

.history-box {
    margin: 10px;
    padding: 12px;
    background-color: #d5dade; /* #E4E3E3;    */
}

/*Footer*/
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #d5dade; /* #E4E3E3;*/
}

#socials i {
    font-size: 150%;
    padding: 5%;
    color: #474747;
}

/*Voyage Page*/
#voyage-image {
    background: url(../images/brandoncreek.jpg) no-repeat center center/cover;
    position:relative;
    height:300px;
    width: 100%; 
}

#voyage-title {
    background-color: rgba(213, 218, 222 , .7); /* rgba(230, 229, 227, .7);*/
    position: absolute;
    color: #474747;
    font-family: 'playfair display';
    text-transform: uppercase;
    width: 100%;
    font-size: 100%;
    padding: 3px;
    margin-top: 15%;
    text-align:center;
}

#voyage-content {
    width: 100%;
}

.voyage-box {
    margin: 10px;
    padding: 12px;
    background-color: #d5dade; /* #E4E3E3;*/
}

#faroe-sheep {
    display: flex;
    align-self: center;
    justify-content: center;
}

#sheep-circle {
    background-image: url(../images/faroe.jpg);
}

#volcano-image {
    display: flex;
    align-self: center;
    justify-content: center;
}

#volcano-circle {
    background-image: url(../images/volcano.jpg);
}


#iceberg-image {
    display: flex;
    align-self: center;
    justify-content: center;
}

#iceberg-circle {
    background-image: url(../images/iceberg.jpg);
}

#columbus-image {
    display: flex;
    align-self: center;
    justify-content: center;
}

#columbus-circle {
    background-image: url(../images/columbus.jpg);
}

.circle-image {
    height: 60vw;
    width: 60vw;
    background-position:center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
}

/*Contact Page*/
#contact {
    background-image: url("../images/statue.jpg");
    background-size: cover;
    background-position:center;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

/*Feedback Form*/
#contact-form {
    color: #474747;
    background: rgba(213, 218, 222 , .7); /* rgba(230, 229, 227, .7);*/
    padding: 30px;
    margin-top: 30px;
    max-width: fit-content;
}

#contact-form > h2 {
    color: #474747;
    margin-bottom: 20px;
}

#contact-form > p {
    color: #474747;
    line-height: 1.5;
}

.text-input {
    background: transparent;
    height: 25px;
    width: 100%;
    border:1px solid #474747;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}

textarea {
    background: transparent; 
    border: 1px solid #474747;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}

#vote {
    border: 1px solid #474747;
    border-style: groove;
    line-height: 1.5;
    text-align: center;
}

.radio-buttons {
    display: flex;
    justify-content: space-around;
}
  
.submit-button {
    padding: 15px;
    background-color: rgba(71, 71, 71, .6);
    font-size: 100%;
    border: 1px solid #474747;
    border-radius: 5px;
    margin-top: 15px;
}


