
/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



/*override default styles added by browsers*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}   

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    background-color: #3283a8;
    font-family:'lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'playfair display';
    text-transform: uppercase;
}

/* header styles */
header {
    /*background-color: rgba(230, 229, 227, .7);*/
    background: url(../images/seaswell1.jpg) no-repeat center center/cover; 
    position:fixed;
    padding: 0;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    /*z-index: 99;*/
    height:300px; 
}


#heading {
    background-color: rgba(230, 229, 227, .7);
    display: flex;
    flex-direction: row;
    z-index: 99;
    width: 100%;

}

#brendan {
    flex: 80%;
}
/* navbar styles */
nav {
    position:relative;
    width: 100px;
    left: 0;
    top: 0;
    padding: 0;
    background-color: rgba(230, 229, 227, .7);

   /* display: none;*/
}
/* navigation menu styles */
#menu {
    font-size: 100%;
    color: #081c40;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid #081c40;
}



/*nav toggle*/
/* #nav-toggle:checked~nav{
    display:block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
} */

/* image style */
/*#main-image {
    height: 250px;
    width: 100%;
    background: url(../images/seaswell1.jpg) no-repeat center center/cover;
    position: relative;
}*/



